<mat-tab-group dynamicHeight="true">
  <mat-tab label="Editor">
    <form [formGroup]="editorForm" class="editor-container">
      <quill-editor formControlName="editor" (onContentChanged)="onEditorContentChanged($event)"
        [modules]="quillModules" [styles]="setSize()">
        <div quill-editor-toolbar>
          <span class="ql-formats">
            <button class="open" (click)="openHTML()"></button>
            <button class="save" (click)="saveHTML()"></button>
            <button class="pdf" (click)="exportPDF()"></button>
            <button class="export" (click)="exportImage()"></button>
          </span>
          <span class=ql-seperator></span>
          <span class="ql-formats">
            <select class="ql-font">
              <option value="roboto" selected>Roboto</option>
              <option value="roboto-condensed">Roboto Condensed</option>
              <option value="roboto-mono">Roboto Mono</option>
              <option value="serif"></option>
              <option value="nanum-pen">Nanum Pen</option>
            </select>
            <select title="Size" class="ql-size">
              <option value="12px" selected>12px</option>
              <option value="14px">14px</option>
              <option value="16px">16px</option>
              <option value="18px">18px</option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-script" value="sub"></button>
            <button class="ql-script" value="super"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <select class="ql-align">
              <option selected></option>
              <option value="center"></option>
              <option value="right"></option>
              <option value="justify"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
          </span>
        </div>
        <div quill-editor-element></div>
      </quill-editor>
      <input type="file" #openFile accept="text/html" style="display:none;" (change)="readHTML($event)" />
    </form>
  </mat-tab>
  <mat-tab label="Settings">
    <app-settings (heightChanged)="onHeightChanged($event)" (widthChanged)="onWidthChanged($event)"></app-settings>
  </mat-tab>
</mat-tab-group>
