@import '../app.component';

.mat-tab-group {
  padding-left: $app-padding;
  padding-right: $app-padding;
}

.ql-font {
  .ql-picker {
    width: 200px;
  }
}

.ql-picker.ql-font {
  width: 175px !important;
}
