$app-padding: 16px;
$app-margin: 10px;

$app-link-color: blue;
$app-link-hover-color: #BA68C8;

.mat-toolbar-row {
    height: auto;
    padding: $app-padding $app-padding 0 $app-padding;
}

.mat-toolbar {
    background-color: #ffffff;
}
