<h2 mat-dialog-title>{{action}} Row Data</h2>
<mat-dialog-content *ngFor="let col of columns">
  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="{{col | titlecase}}" matInput [(ngModel)]="localData[col]">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content *ngIf="action == 'Delete'">
  <span class="dialog-label">Are you sure to delete row <b>{{localData.index + 1}}</b>?</span>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</mat-dialog-actions>
