<div class="settings">
    <div class="settings-basic">
        <div>
            <mat-form-field appearence="standard">
                <mat-label>Editor height (px) :</mat-label>
                <input id="height" matInput type="number" placeholder="Height">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <mat-label>Editor width (px) :</mat-label>
                <input id="width" matInput type="number" placeholder="Width">
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="csvVisible">
      <p>Paragraph works</p>
        <!-- <button mat-button (click)="openDialog('Add', {})" mat-flat-button color="primary">Add Record</button>

        <table mat-table [dataSource]="dataSource" #myTable class="my-table mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header=cell *matHeaderCellDef>ID.</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header=cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header=cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <a (click)="openDialog('Update', element)">Edit</a>
                    <a (click)="openDialog('Delete', element)">Delete</a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> -->
    </div>
</div>
